<p style="color: green"><%= notice %></p>
<center>
<div class="col-md-10">
<h1>Career details</h1>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Heading</th>
      <th scope="col">Details</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @career_details.each do |career_detail| %>
    <tr>
      <th scope="row"><%= career_detail.id %></th>
      <td> <%= career_detail.heading %></td>
      <td><%= career_detail.details %></td>
      <td> <b> <%= link_to "Show this career detail", career_detail %> </b>
    </tr>
      <% end %>
  </tbody>
</table>

<%= link_to "New career detail", new_career_detail_path , class:"btn btn-secondary"%>
