<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= blog.subtitle %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= blog.views %>
  </p>

  <p>
    <strong>User:</strong>
    <%= blog.user_id %>
  </p>

</div>
