 <% @blogs.each do |blog|%>
<div class="col-lg-4 col-md-6">
  <div class="journal-info">

    <a <%= link_to blogs_path(blog) do %>
      <%=image_tag blog.photo.url, class:"img-responsive", alt:"img"%>
      <%end%></a>
  <div class="journal-txt">
    <h4><a  <%= link_to blogs_path(blog) do%>
    <%=blog.title%><%end%> </a></h4>
    <p class="separator"><%= link_to blogs_path(blog) do %>
      <%= blog.subtitle %>
    <%end%></p>
    </div>

  </div>
</div>
  <%end%>
