<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= blog.subtitle %>
  </p>

    <p>
      <strong>image:</strong>
      <%=image_tag blog.photo.url %>
    </p>

    <p>
      <strong>body:</strong>
      <%= blog.body %>
    </p>
  <p>
    <strong>Views:</strong>
    <%= blog.views %>
  </p>

  <div class="container">
    <%=render 'comments/form', commentable: @blog, local:Comment.new %>
  </div>

</div>
