<div class="col-md-12">
<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-12">
    <%=  form.text_field :title, class:"form-control", placeholder:"Title", required:true %>
  </div>
  <div class="col-lg-12">
    <%=  form.text_field :subtitle, class:"form-control", placeholder:"Subitle", required:true %>
  </div>

  <div class="col-lg-12">
    <%=  form.rich_text_area :body, class:"form-control", placeholder:"Subitle", required:true %>
  </div>

  <div class="col-lg-12">
    <%= form.file_field :photo, class:"form-control" %>
    <%= form.hidden_field :photo_cache%>
    <%if @blog.photo.present?%>
    <%=image_tag @blog.photo.thumb.url%>
    <%end%>
  </div>

  <div>
    <%= form.submit class:"btn btn-defeault" %>
  </div>
<% end %>
</div>
