<div id="<%= dom_id ml_portfolio %>">
  <p>
    <strong>Title:</strong>
    <%= ml_portfolio.title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= ml_portfolio.subtitle %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= ml_portfolio.type %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= ml_portfolio.language %>
  </p>

  <p>
    <strong>Framework:</strong>
    <%= ml_portfolio.framework %>
  </p>

  <p>
    <strong>Libraries:</strong>
    <%= ml_portfolio.libraries %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ml_portfolio.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= ml_portfolio.url %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= ml_portfolio.photo %>
  </p>

</div>
