<center>
<div class="col-md-10">
<h1>ML portfolios</h1>
<br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Language</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @ml_portfolios.each do |ml_portfolio| %>
      <tr>
        <th scope="row"><%= ml_portfolio.id%></th>
        <td> <%= ml_portfolio.title %></td>
        <td><%= ml_portfolio.language %></td>
        <td>  <%= link_to "View in Details", ml_portfolio %></td>
      </tr>
        <% end %>
    </tbody>
  </table>
  <%if current_user%>
      <%if current_user.admin?%>
  <%= link_to "New web portfolio", new_ml_portfolio_path %>
    <%else%>
    <%= link_to "Back to Home", root_path %>
    <%end%>
    <%end%>
</div>
<center>
