<div id="<%= dom_id web_portfolio %>">
<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
              <li><%= link_to "Home", pages_home_path %></li>
              <li><%= link_to "Portfolio", web_portfolio_path(@web_portfolio) %></a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row">
          <div class="col-md-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <%=image_tag web_portfolio.photo.url %>
                </div>
          </div>
          </div>
          </div>

          <div class="col-md-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Title</strong>:<%= web_portfolio.title%></li>
                <li><strong>Subtitle</strong>:<%= web_portfolio.subtitle%></li>
                  <%if web_portfolio.portfolio_type == 'ML'%>
                    <li><strong>Language</strong>:<%= web_portfolio.language%></li>
                    <li><strong>libraries</strong>:<%= web_portfolio.library%></li>
                  <%else%>
                    <li><strong>Fontend</strong>:<%= web_portfolio.client_side%></li>
                    <li><strong>Backend</strong>:<%= web_portfolio.server_side%></li>
                    <li><strong>Database</strong>:<%= web_portfolio.database%></li>
                  <%end%>
                <li><strong>Project URL</strong>: <%= web_portfolio.url%></li>
              </ul>
            </div>


            <div class="portfolio-description">
              <h2> Portfolio detail</h2>
            <%= web_portfolio.description%>
            </div>
                </div>
      </div>
    </div>
</div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
