<div id="<%= dom_id web_portfolio %>">
  <p>
    <strong>Title:</strong>
    <%= web_portfolio.title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= web_portfolio.subtitle %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= web_portfolio.type %>
  </p>

  <p>
    <strong>Client side:</strong>
    <%= web_portfolio.client_side %>
  </p>

  <p>
    <strong>Server side:</strong>
    <%= web_portfolio.server_side %>
  </p>

  <p>
    <strong>Database:</strong>
    <%= web_portfolio.database %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= web_portfolio.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= web_portfolio.url %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= web_portfolio.photo %>
  </p>

</div>
