<p style="color: green"><%= notice %></p>

<%= render @web_portfolio %>

<div>
  <%= link_to "Edit this web portfolio", edit_web_portfolio_path(@web_portfolio) %> |
  <%= link_to "Back to web portfolios", web_portfolios_path %>

  <%= button_to "Destroy this web portfolio", @web_portfolio, method: :delete %>
</div>
