
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-between">
  <a <%= link_to "Portfolio", root_path, class:"logo"%> </a>

<nav id="navbar" class="navbar">
  <ul>
    <li><a <%= link_to "Home", pages_home_path, class:"nav-link scrollto active", target:"#hero" %>  </a></li>
    <li><a class="nav-link scrollto" href="#about">About</a></li>
    <li><a class="nav-link  scrollto" href="#portfolio">Portfolio</a></li>
    <li><a class="nav-link  scrollto" href="#journal">Blog</a></li>
    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
    <%if current_user %>
    <li class="dropdown"><a><%= current_user.username%> <i class="bi bi-chevron-down"></i></a>
      <ul>
        <%if current_user.admin? %>
        <li><a <%= link_to 'All Portfolios', web_portfolios_path %> </a></li>
        <li><a <%= link_to 'All blogs', blogs_path %> </a></li>
        <li><a <%= link_to 'Career details', career_details_path %> </a></li>
        <li> <%=link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete, class:"nav-link scrollto" %> </li>
        <%else%>
        <li> <%=link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete, class:"nav-link scrollto" %> </li>
        <%end%>
      </ul>
    </li>
    <%end%>
  </ul>
  <i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->
</div>
</header>
